@import "tailwindcss";

:root {
  --primary: #FF69B4; /* Example hot pink for SPA */
  --secondary: #FFB6C1;
}

body {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #fcfcfc;
  color: #333;
}
