@import "tailwindcss";

:root {
  --primary: #4F46E5; /* Indigo for admin panel */
  --sidebar-bg: #111827;
}

body {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f3f4f6;
  color: #1f2937;
}
