# Environment files - KHÔNG commit lên GitHub
.env
backend/.env
backend/uploads/img/*
!backend/uploads/img/.gitkeep
!backend/uploads/img/sample-*
!backend/uploads/img/default-*
frontend/.env
node_modules
**/node_modules
frontend/dist
skills-lock.json
.agents
.playwright-mcp
.vscode